<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <title>Vue</title>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//static.ws.126.net">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no,email=no">
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/share-icon.png">
  <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/share-icon.png">
</head>
<body>
<div id="app"></div>
</body>
</html>